.title{
    color: red;
}
/**
* css模块化，只针对累选择和ID选择器生效；
* css模块化不会对标签选择器模块化
**/
h1{
    font-style: initial
}

#cmtTile{
    font-size: 12px;
    background-color: rgb(216, 215, 215);
}

/*
* 如果不想此类被模块化则使用:global(你的类名)来配置
* 配置全局化的css就不会出现在导入的css对象中，所以就是一个传统的字符串类型的css
*/
:global(testNoModules){
    
    font-style: inherit;

}

/**默认是:local()包裹起来的，默认全部都会模块化*/